:root {
  font-size: 16px;
}

mat-icon {
  color: #B5DFFB;
  width: 100%;
  font-size: 3rem;
  margin: 1rem;
  transition: 0.25s ease;
}


.logo:hover {
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  transition: 0.3s ease;
}


@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #00122A;
  }

  .logo {
    width: 100%;
  }

  mat-icon:hover {
    font-size: 4rem;
    color: white;
    transition: 0.25s ease;
    cursor: pointer;
  }

  .nav-item:first-child {
    margin-bottom: auto;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

}

@media only screen and (max-width: 600px) {
  .navbar {
    margin: 0;
    height: 4rem;
    width: 100vw;
    background-color: #00122A;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding-left: 10px;
    padding-top: 5px;
    width: 2.5rem;
  }

  mat-icon {
    height: 100%;
    font-size: 2.5rem;
  }


}




