<div class="portrait">
  <div class="banner">
    <div class="edit-tools">
      <div class="profile-img">
        <img src="../../../assets/img/pheoebe-tonkin-pp.png" alt="" srcset="">
      </div>
      <div class="edit-profile-btn">
        <button>Editar Perfil</button>
      </div>
    </div>
    <div class="follows">
      <h1 class="artist">Pheobe Tonkien</h1>
      <div class="status">
        <div class="followers">
          <p>23</p>
          <h3>Seguidores</h3>
        </div>
        <div class="following">
          <p>120</p>
          <h3>Siguiendo</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="label-container">
    <h3>Playlists</h3>
  </div>

  <div class="cards-container">

    <div class="card favoritas">
      <div class="card-portrait">
        <img src="../../../assets/img/favoritas.png" alt="Playlist Favoritas">
      </div>
      <div class="card-label">
        <h3 class="playlist-name">Favoritas</h3>
        <p class="how-many-songs">24 canciones</p>
        <p class="duration">2:08:23</p>
      </div>
    </div>

    <div class="card favoritas">
      <div class="card-portrait">
        <img src="../../../assets/img/instrumentales.png" alt="Playlist Favoritas">
      </div>
      <div class="card-label">
        <h3 class="playlist-name">Instrumentales</h3>
        <p class="how-many-songs">24 canciones</p>
        <p class="duration">2:08:23</p>
      </div>
    </div>

    <div class="card favoritas">
      <div class="card-portrait">
        <img src="../../../assets/img/driving.png" alt="Playlist Favoritas">
      </div>
      <div class="card-label">
        <h3 class="playlist-name">Para conducir</h3>
        <p class="how-many-songs">24 canciones</p>
        <p class="duration">2:08:23</p>
      </div>
    </div>

    <div class="card favoritas">
      <div class="card-portrait">
        <img src="../../../assets/img/tengo-que-escuchar.png" alt="Playlist Favoritas">
      </div>
      <div class="card-label">
        <h3 class="playlist-name">Tengo que escuchar</h3>
        <p class="how-many-songs">24 canciones</p>
        <p class="duration">2:08:23</p>
      </div>
    </div>

    <div class="card favoritas">
      <div class="card-portrait">
        <img src="../../../assets/img/alex.png" alt="Playlist Favoritas">
      </div>
      <div class="card-label">
        <h3 class="playlist-name">Alex</h3>
        <p class="how-many-songs">24 canciones</p>
        <p class="duration">2:08:23</p>
      </div>
    </div>

  </div>

</div>


<!-- <div class="container">
  <upload></upload>
  <h1>Profile page component</h1>
</div> -->
