<div class="song-carousel-container">
  <div (click)='slide_carousel($event)' id="song-previous">&lt;</div>
  <div class='song-carousel' id={{ID}}>
    <div *ngFor='let song of songs' class='song-card'>
      <div (click)="playSong(song.id)" class="song-container">
        <div class='song-cover'>
          <img src={{song.cover}} class='cover-img'>
        </div>
        <div class='song-info'>
          <div class='song-title'>{{song.title}}</div>
          <div class='song-album'>{{song.album}}</div>
          <div class='song-duration'>{{song.duration}}</div>
          <div class='song-artist'>{{song.artist}}</div>
        </div>
        <div *ngIf="song.exclusive" class="song-exclusive">Musicult exclusive</div>
      </div>
      </div>
  </div>
  <div (click)='slide_carousel($event)' id="song-next">&gt;</div>
</div>



