.song-carousel-container {
  display: flex;
  align-items: center;
  /* display: none; */
  transition: 1s ease;
  animation: fadeIn 1s ease;
  /* background-color: rebeccapurple; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.song-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px 10px 0px;
  position: relative;
  scroll-behavior: smooth;
  overflow: hidden;
  /* background-color: red; */
}

.song-container {
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.song-container:hover {
  opacity: 0.8;
}

.song-card {
  margin: 10px;
  border: 2px solid black;
}

#song-previous:hover {
  background-color:rgba(0, 18, 42, 0.9);
  cursor: pointer;
}


#song-next:hover {
  background-color:rgba(0, 18, 42, 0.9);
  cursor: pointer;
}

.song-info {
  padding: 10px;
}

@media screen and (max-width: 375px) {
  .cover-img {
    height: 20vh;
  }

  .song-title {
    font-size: 16px;
  }

  .song-album {
    font-size: 15px;
  }

  .song-duration{
    font-size: 15px;
  }

  .song-artist {
    font-size: 16px;
  }

  .song-exclusive {
    font-size: 15px;
  }

  #song-previous {
    display: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  #song-next {
    display: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  .song-carousel {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .song-carousel::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .cover-img {
    height: 25vh;
  }

  #song-previous {
    display: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  #song-next {
    display: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  .song-carousel {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

  .song-carousel::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .cover-img {
    height: 30vh;
  }

  #song-previous {
    display: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  #song-next {
    display: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }


}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .cover-img {
    height: 20vh;
  }

  #song-previous {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  #song-next {
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }
}

@media screen and (min-width: 1201px) {
  .cover-img {
    height: 20vh;
  }

  #song-previous {
    padding: 10px;
    font-weight: bold;
    font-size: 50px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }

  #song-next {
    padding: 10px;
    font-weight: bold;
    font-size: 50px;
    color: white;
    background-color:rgba(0, 18, 42, 0.5);
  }
}


.song-title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 20px;
}

.song-album {
  line-height: 20px;
}

.song-duration {
  line-height: 20px;
}

.song-artist {
  line-height: 20px;
  font-weight: bold;
}

.song-exclusive {
  text-align: center;
  background-color: #00122A;
  color: white;
}


/* @media screen and (max-width: 768px) {
  .song-card {
    width: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .song-card {
    width: 20%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .song-card {
    width: 16%;
  }
}

@media screen and (min-width: 1201px) {
  .song-card {
    width: 12%;
  }
} */
