:root {
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .playbar {
    margin-left: 5rem;
    height: 4rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #0074D1;
  }
}

@media only screen and (max-width: 600px) {
  .playbar {
    height: 4rem;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #0074D1;
  }
}
