/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhaina 2', cursive;
}

@media screen and (min-width: 1080px) {
  body {
    overflow: hidden;
  }
}

@media screen and (max-width: 1079px)  {
  body {
    overflow: auto;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
